* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.worksonme-table .MuiTablePagination-root div p {
  margin-bottom: 0;
}

.start-flow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 40px;
}

.start-flow-button a {
  color: #fff;
  text-decoration: none;
}

.start-flow-button:hover a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  height: 100%;
}

.error-text {
  color: rgb(253, 57, 57);
  font-weight: 600;
  margin-bottom: 0;
}

.error-border {
  border: 1px solid #fd3939!important;
  box-shadow: 0 0 0 1px rgb(248, 179, 179)!important;
  border-radius: 5px;
}

.error-border .select__control {
  border: none!important;
}

.sidebar-toggle:hover svg {
  stroke: #fff;
}